html,body {
  margin: 0;
  padding: 0;
}

body {
  background-color: #F9F9F9;
}

body > header > h1 {
  margin: 0;
  padding: 20px;
  background: rgb(34,193,195);
  background: -webkit-linear-gradient(bottom, rgba(34,193,195,1) 0%, rgba(45,115,253,1) 100%);
  background: -o-linear-gradient(bottom, rgba(34,193,195,1) 0%, rgba(45,115,253,1) 100%);
  background: linear-gradient(to top, rgba(34,193,195,1) 0%, rgba(45,115,253,1) 100%);
}

h1 > a, h1 {
  text-decoration: none;
  color: white;
}

h2 {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

main > nav > ul {
  display: flex;
}

main > nav > ul > li {
  flex: 1;
  background-color: #22c1c3;
  text-align: center;
  list-style-type: none;
  color: #fff;
  margin: 0 10px;
  padding: 20px;
  border-radius: 5px;
  font-weight: 600;
}
#category {
  /*max-width: 900px;*/
  /*min-width: 630px;*/
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.questionBlock {
  background-color: #F1F1F1;
  padding: 1em;
  margin-bottom: 1em;
  border-radius: 3px;
  box-shadow: 0px 1px 3px #0c1f31;
  min-width: 650px;
  max-width: 750px;
}

.questionBlock:hover {
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.4);
}

#results {
  color: black;
  display: none;
}

#quiz p {
  color: black;
  display: none;
}

#button_box {
  margin-top: 15px;
}

.black {
  color: black;
}

li > a {
  color: blue;
}

.True {
  border: 3px solid #58D68D;
}

.False {
  border: 3px solid #EC7063;
}

.quizQuestions {
  font-weight: bold;
  list-style-type: none;
  padding-bottom: 0.5em;
  letter-spacing: 0.3px;
}

#categoryList {
  margin-left: 0;
  padding-left: 0;
}

#categoryList li:hover{
  cursor: pointer;
}