<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/css/index.css">
    <title>Trivia app</title>
</head>
<body>

<header id="container">
    <h1 id="doehet">Trivia API</h1>
</header>

<main id="category">

    <nav>
        <ul id="categoryList">
            <li><a href="category/11/questions">Film</a></li>
            <li><a href="category/12/questions">Music</a></li>
            <li><a href="category/14/questions">Tv</a></li>
            <li><a href="category/21/questions">Sports</a></li>
            <li><a href="category/27/questions">Animals</a></li>
            <li><a href="category/28/questions">Vehicles</a></li>
        </ul>
    </nav>

</main>

</body>
</html>
