<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/css/main.css">
    <title>Trivia app</title>
</head>
<body>

<header id="container">
    <h1 id="doehet">Trivia API</h1>
</header>

<main id="category">

    <nav>ยง
        <ul id="categoryList">
            <li data-category-id="11"><a href="category/11/questions">Film</a></li>
            <li data-category-id="12"><a href="category/12/questions">Music</a></li>
            <li data-category-id="14"><a href="category/14/questions">Tv</a></li>
            <li data-category-id="21"><a href="category/21/questions">Sports</a></li>
            <li data-category-id="27"><a href="category/27/questions">Animals</a></li>
            <li data-category-id="28"><a href="category/28/questions">Vehicles</a></li>
        </ul>
    </nav>

</main>

<section id="quiz">
    <p>Dit is de quizpagina</p>
</section>

<section id="results">
    <p>Dit is de resultatenpagina</p>
</section>

<!--<script src="js/lib/transparency.js"></script>-->
<!-- <script type="text/javascript" src="js/lib/routie.js"></script> -->
<!-- <script type="text/javascript" src="js/modules/router.js"></script> -->
<!-- <script type="module" src="js/main.js"></script> -->
</body>
</html>
