<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/css/main.css">
    <title>Trivia app</title>
</head>
<body>

<header id="container">
    <h1 id="doehet">Trivia API</h1>
</header>

<a href="#">De vragen van category: <%= vraagId %> </a>

<main id="category">


    <form action="#results">
        <ul id="questionList">
        </ul>
        <button type="submit">Results</button>
    </form>

</main>

<section id="quiz">
    <p>Dit is de quizpagina</p>
</section>

<section id="results">
    <p>Dit is de resultatenpagina</p>
</section>

<!--<script src="js/lib/transparency.js"></script>-->
<!-- <script type="text/javascript" src="js/lib/routie.js"></script> -->
<!-- <script type="text/javascript" src="js/modules/router.js"></script> -->
<!-- <script type="module" src="js/main.js"></script> -->
</body>
</html>
